extends home

block content

    div(class="signup-form")
        h3 Para ser Administrador responde lo siguiente
        form(action="" method="POST" class="form-container")
            label(for="") En que año fue fundado el FC Barcelona ?
            input(type="text" placeholder="año" name="name" required)
            button Sign up