extends layout 

block header 
    div(class="header-nav")
      div
        h1 Members Only
      if user
        p hi #{user.username}
      else    
        div(class="header-btns")
            a(href="/signIn") Sign in
            a(href="/logIn") Log in
    hr(width="85%")