doctype html
html
  head
   title Members Only
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0")
  body
    block header
    block content
    div(class="foot")
      h3 Todas las contraseñas son encriptadas.