doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block header
    block content
    div(class="foot")
      h3 Todas las contraseñas son encriptadas.