doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div(class="header-nav")
      div
        h1 Members Only
      div(class="header-btns")
        a(href="/signUp") Sign up
        a(href="") Log in
    hr(width="85%")
    block content
