extends home

block content

    div(class="signup-form")
        h3 Añade el titulo y contenido de tu post
        form(action="" method="POST" class="form-container")
            input(type="text" placeholder="titulo" name="title" required)
            textarea(name="text" required placeholder="Escribe el contendio del post.." cols="30", rows="10") 
            p Creado por #{user.username}
            button Crear
        