extends home

block content

    div(class="signup-form")
        h3 Por favor completa los siguientes requisitos
        form(action="" method="POST" class="form-container")
            input(type="text" placeholder="nombre" name="name" required)
            input(type="text" placeholder="apellido" name="lastname" required)
            input(type="text" placeholder="usuario" name="username" required)
            input(type="password" placeholder="contraseña" name="password" required)
            input(type="password" placeholder="confirmar contraseña" name="passconfirm" required)

            button Sign up
        if errors
            div(class="error-container")
                ul
                    for error in errors
                        li=error.msg
        p=error