extends home

block content

    div(class="signup-form")
        h3 Para ser miembro VIP debes responder lo siguiente
        form(action="" method="POST" class="form-container")
            label En que año nacio Lionel Messi
            input(type="text" placeholder="año" name="name" required)
            button Sign up